<div class="container">
  <main>
    <h2 class="text-center">Form di registrazione</h2>
    <hr class="my-4" />
    <div class="row g-5">
      <div class="col-md-12 col-lg-12">
        <form #form="ngForm" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-4">
              <label for="firstName" class="form-label">Nome</label>
              <input
                #firstName="ngModel"
                [(ngModel)]="genericUser.firstName"
                pattern="[a-zA-Z\s]*"
                name="firstName"
                type="text"
                class="form-control"
                id="firstName"
                placeholder=""
                value=""
                required
              />
              <div class="invalid-feedback">Il nome è richiesto.</div>
            </div>
            <div class="col-4">
              <label for="lastName" class="form-label">Cognome</label>
              <input
                #lastName="ngModel"
                [(ngModel)]="genericUser.lastName"
                pattern="[a-zA-Z\s]*"
                name="lastName"
                type="text"
                class="form-control"
                id="lastName"
                placeholder=""
                value=""
                required
              />
              <div class="invalid-feedback">Il cognome è richiesto.</div>
            </div>
            <div class="col-2">
              <label for="gender" class="form-label">Sesso</label>
              <select
                #gender="ngModel"
                [(ngModel)]="genericUser.gender"
                name="gender"
                class="form-select"
                id="gender"
                required
              >
                <option value="">Scegli...</option>
                <option>F</option>
                <option>M</option>
              </select>
              <div class="invalid-feedback">Seleziona un valore valido.</div>
            </div>

            <div class="col-2">
              <label for="birthDay" class="form-label">Data di nascita <span class="text-body-secondary"></span></label>
              <input
                #birthday="ngModel"
                [(ngModel)]="genericUser.birthDay"
                name="birthDay"
                type="date"
                class="form-control"
                id="birthDay"
                />
            </div>

            <div class="col-5">
              <label for="email" class="form-label">Email <span class="text-body-secondary"></span></label>
              <input
                #email="ngModel"
                [(ngModel)]="genericUser.email"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                name="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="you@example.com"
              />
              <div class="invalid-feedback">Inserire una e-mail valida.</div>
            </div>

            <div class="col-2">
              <label for="grant" class="form-label">Utenza</label>
              <select
                #grant="ngModel"
                [(ngModel)]="genericUser.grant"
                class="form-select"
                id="grant"
                name="grantValue"
                required
              >
                <option value="0">Scegli...</option>
                <option value="3">Cliente</option>
                <option value="2">Utente</option>
              </select>
              <div class="invalid-feedback">Seleziona un valore valido.</div>
            </div>

            <div *ngIf="genericUser.grant == 2" class="col-sm-5">
              <label for="fiscaldCode" class="form-label">Codice Fiscale</label>
              <input
                #fiscalCode="ngModel"
                [(ngModel)]="genericUser.fiscalCode"
                pattern="[A-Za-z]{6}\d{2}[A-Za-z]\d{2}[A-Za-z]\d{3}[A-Za-z]"
                name="fiscalCode"
                type="text"
                class="form-control"
                id="fiscaldCode"
                required
              />
              <div class="invalid-feedback">
                Inserire un codice fiscale corretto.
              </div>
            </div>

            <div class="col-5">
              <label for="password" class="form-label"
                >Password <span class="text-body-secondary"></span
              ></label>
              <input
                #password="ngModel"
                [(ngModel)]="genericUser.password"
                pattern="^[a-zA-Z0-9]{8,}$"
                name="password"
                type="password"
                class="form-control"
                id="password"
              />
              <div class="invalid-feedback">Inserire una password.</div>
            </div>

            <div class="col-5">
              <label for="address" class="form-label">Indirizzo</label>
              <input
                #address="ngModel"
                [(ngModel)]="genericUser.address"
                name="address"
                type="text"
                class="form-control"
                id="address"
                placeholder="Via/piazza esempio 99"
                required
              />
              <div class="invalid-feedback">Inserire un indirizzo valido.</div>
            </div>

            <div class="col-md-2">
              <label for="province" class="form-label">Provincia</label>
              <select
              #province="ngModel"
              [(ngModel)]="genericUser.province"
              name="province"
              class="form-select"
              id="province"
              required>
                <option value="">Scegli...</option>
                <option *ngFor="let province of italianProvinces" [value]="province">{{ province }}</option>
              </select>
              <div class="invalid-feedback">Seleziona una provincia.</div>
            </div>

            <div class="col-sm-5">
              <label for="phone" class="form-label">Numero</label>
              <input
                #phone="ngModel"
                [(ngModel)]="genericUser.phone"
                name="phone" 
                type="text"
                class="form-control"
                id="number"
                required />
              <div class="invalid-feedback">Inserire un numero valido.</div>
            </div>
          </div>

          <hr class="my-4" />

          <button class="w-100 btn btn-primary btn-lg" (click)="register()">
            Continua la registrazione
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
