<div class="container">
  <main>
    <h2 class="text-center">Form di registrazione</h2>
    <hr class="my-4" />
    <div class="row g-5">
      <div class="col-md-12 col-lg-12">
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-4">
              <label for="firstName" class="form-label">Nome</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder=""
                value=""
                required
              />
              <div class="invalid-feedback">Il nome è richiesto.</div>
            </div>
            <div class="col-4">
              <label for="lastName" class="form-label">Cognome</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder=""
                value=""
                required
              />
              <div class="invalid-feedback">Il cognome è richiesto.</div>
            </div>

            <div class="col-2">
              <label for="sesso" class="form-label">Sesso</label>
              <select class="form-select" id="sesso" required>
                <option value="">Scegli...</option>
                <option>F</option>
                <option>M</option>
              </select>
              <div class="invalid-feedback">Seleziona un valore valido.</div>
            </div>

            <div class="col-2">
              <label for="birthday" class="form-label"
                >Data di nascita <span class="text-body-secondary"></span
              ></label>
              <input type="date" class="form-control" id="birthday" />
            </div>

            <div class="col-5">
              <label for="email" class="form-label"
                >Email <span class="text-body-secondary"></span
              ></label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="you@example.com"
              />
              <div class="invalid-feedback">Inserire una e-mail valida.</div>
            </div>

            <div class="col-2">
              <label for="users" class="form-label">Utenza</label>
              <select
                class="form-select"
                id="users"
                [(ngModel)]="grantValue"
                name="grantValue"
                required
              >
                <option value="">Scegli...</option>
                <option value=[grantUser]>Cliente</option>
                <option value=[grantClient]>Utente</option>
              </select>
              <div class="invalid-feedback">Seleziona un valore valido.</div>
            </div>

            <div *ngIf="grantValue == 2" class="col-sm-5">
              <label for="fiscaldcode" class="form-label">Codice Fiscale</label>
              <input
                type="text"
                class="form-control"
                id="fiscaldcode"
                required
              />
              <div class="invalid-feedback">
                Inserire un codice fiscale corretto.
              </div>
            </div>

            <div class="col-5">
              <label for="password" class="form-label"
                >Password <span class="text-body-secondary"></span
              ></label>
              <input type="password" class="form-control" id="password" />
              <div class="invalid-feedback">Inserire una password.</div>
            </div>

            <div class="col-5">
              <label for="address" class="form-label">Indirizzo</label>
              <input type="text" class="form-control" id="address" required />
              <div class="invalid-feedback">Inserire un indirizzo valido.</div>
            </div>

            <div class="col-md-2">
              <label for="province" class="form-label">Provincia</label>
              <select class="form-select" id="province" required>
                <option value="">Scegli...</option>
                <option>United States</option>
              </select>
              <div class="invalid-feedback">Seleziona una provincia.</div>
            </div>

            <div class="col-sm-5">
              <label for="address" class="form-label">Numero</label>
              <input type="text" class="form-control" id="number" required />
              <div class="invalid-feedback">Inserire un numero valido.</div>
            </div>
          </div>

          <hr class="my-4" />

          <button class="w-100 btn btn-primary btn-lg" (click)="register()">
            Continua la registrazione
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
